package ui

import "github.com/whale-net/everything/manmanv2/ui/types"

// Badge renders a badge with optional props
templ Badge(props ...types.BadgeProps) {
	{{ var p types.BadgeProps }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	<span class={ badgeClasses(p) }>
		{ children... }
	</span>
}
