# Common Bazel options
build --symlink_prefix=bazel-
build --incompatible_strict_action_env
build --python_version=PY3
build:fast --jobs=auto

# Test configurations
test --test_output=errors
test:ci --test_output=errors --test_summary=detailed
