{{- range $appName, $app := .Values.apps }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ $appName }}
  namespace: {{ $.Values.global.namespace }}
  labels:
    app: {{ $appName }}-{{ $.Values.global.environment }}
    component: {{ $app.type }}
{{- end }}
