{{- if or (eq .Type "external-api") (eq .Type "internal-api") }}
apiVersion: v1
kind: Service
metadata:
  name: {{ .Name }}-{{ .Environment }}-service
  namespace: {{ .Namespace }}
  labels:
    component: {{ .Type }}
spec:
  type: ClusterIP
  selector:
    app: {{ .Name }}-{{ .Environment }}
  ports:
    - protocol: TCP
      port: {{ .Port }}
      targetPort: {{ .Port }}
      name: http
{{- end }}
