{{/*
NOTES template - Provides post-deployment instructions
*/}}
1. Get the application URLs by running these commands:
{{- if .Values.ingress.enabled }}
  http://{{ .Values.ingress.host }}
{{- else if contains "NodePort" .Values.service.type }}
  export NODE_PORT=$(kubectl get --namespace {{ .Release.Namespace }} -o jsonpath="{.spec.ports[0].nodePort}" services {{ include "multiapp.fullname" . }})
  export NODE_IP=$(kubectl get nodes --namespace {{ .Release.Namespace }} -o jsonpath="{.items[0].status.addresses[0].address}")
  echo http://$NODE_IP:$NODE_PORT
{{- else if contains "ClusterIP" .Values.service.type }}
  # Port forward to access services locally
{{- range .Apps }}
  kubectl --namespace {{ $.Release.Namespace }} port-forward service/{{ .Name }}-service 8000:8000
  # Then access {{ .Name }} at: http://localhost:8000
{{- end }}
{{- end }}

2. Application Status:
{{- range .Apps }}
   - {{ .Name }}: {{ .Registry }}/whale-net/{{ .RepoName }}:{{ .Version }}
{{- end }}

{{- if .Artifacts }}
3. Manual Artifacts:
{{- range .Artifacts }}
   - {{ .Name }} ({{ .Type }})
{{- end }}
{{- end }}

4. Check deployment status:
   kubectl get pods,services,jobs -l release={{ .Release.Name }}